html body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #deecf2;
}

#app {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.character {
    margin-bottom: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    height: 400px;
}

.actions {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1d509f;
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.play {
    background-color: orange;
}

.play:hover {
    background-color: darkorange;
}

.play:active {
    transform: translateY(2px);
    background-color: orangered;
}

.pause {
    background-color: darkgray;
}

.pause:hover {
    background-color: gray;
}

.pause:active {
    transform: translateY(2px);
    background-color: dimgray;
}

button:hover {
    background-color: #1a355c;
}

button:active {
    transform: translateY(2px);
    background-color: #1a355c;
}

.life-bar, .mana-bar {
    width: 100%;
    height: 30px;
    background-color: #ccc;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.life, .mana {
    width: 100%;
    height: 30px;
    background-color: #8be079;
    border: 1px solid #808080;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    transition: width 0.3s ease;
}

.mana {
    background-color: #0031b9;
}

.sprite {
    height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #c1c1c1;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sprite img {
    max-height: 100%;
    max-width:  100%;
    object-fit: contain;
}